@import "../../Bases/Variables.scss";

section#values {
    margin: 0 auto;

    & ul {
        padding: 0;

        & li {

            &.active {
                height: 150px; 
                transition: height 0.3s ease-in-out; 
        
                @media (max-width: 766px) {
                    height: 120px;
                }
            }

            & p {
                height: 80px;

                @media (max-width:767px) {
                    height: 51px;
                }
            }
        }
    }
}
